@import url(fonts.css);

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body {
    height: 100%;
}

body {
    font-family: Poppins, sans-serif;
}

.wrapper {
    min-height: 100%;
}

.header {
    min-height: 100vh;
    padding-bottom: 168px;
}

.container {}